// Centrage horizontal et vertical des éléments
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Points de rupture réactifs pour les médias
@mixin max-width($width) {
  max-width: $width;
}

@mixin responsive-width($width) {
  @media screen and (min-width: 375px) {
    width: $width;
  }
}

@mixin below-or-equal-375px {
  @media screen and (max-width: 376px) {
    @content;
  }
}