// Couleurs
:root {
    --main: #FF6060;
    --grey: #F6F6F6;
    --white: #fff;
}

// Typographie
$font-family: 'Montserrat', sans-serif;
$base-font-size: 1rem;

// Espacements
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
