.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--grey);
    border-radius: 25px;
    margin: 30px 5%;
    padding: 18px;
}
.cards-container li {
    margin: 20px;
    position: relative;
}