.collapse {
    width: 90%;
    margin-bottom: 25px;

    @include below-768 {
        width: 100%;
        margin-bottom: 20px;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        background-color: var(--main);
        height: 52px;
        padding: 0 15px;

        @include below-768 {
            height: 30px;
        }

        h2 {
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--white);

            @include below-768 {
                font-size: 0.75rem;
            }
        }

        .chevron {
            width: 24px;
            fill: var(--white);
            cursor: pointer;
            transition: transform 0.6s ease;

            @include below-768 {
                width: 16px;
            }
        }

        .chevron.open {
            transform: rotate(-180deg);
        }
    }

    &-content {
        font-weight: 400;
        font-size: 1.125rem;
        background-color: var(--grey);
        padding: 0 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
        height: 0;
        transition: max-height 1s ease, opacity 0.3s ease, padding 0.3s ease;

        @include below-768 {
            p {
                font-size: 0.875rem;
            }
        }

        &.open {
            height: auto;
            padding: 15px 15px;
        }

        &.open p {
            animation: fall 0.3s ease forwards;
        }

        &:not(.open) p {
            animation: rise 0.3s ease forwards;
        }
    }
}