@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
:root {
  --main: #FF6060;
  --grey: #F6F6F6;
  --white: #fff;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
  min-width: 320px;
  font-weight: 500;
  margin: auto;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.banner {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
  height: 223px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 375px) {
  .banner {
    width: 90%;
  }
}
.banner img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.banner h1 {
  position: absolute;
  width: 90%;
  color: var(--white);
  font-size: 3rem;
  font-weight: 700;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}
.banner h1 .mobile {
  display: none;
}
@media screen and (max-width: 376px) {
  .banner h1 {
    font-size: 1.5rem;
    text-align: left;
    left: 15px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    line-height: 1.2;
  }
  .banner h1 .desktop {
    display: none;
  }
  .banner h1 .mobile {
    display: inline;
  }
}
.banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 25px;
  z-index: 1;
}
@media screen and (max-width: 376px) {
  .banner {
    width: calc(100% - 40px);
    height: 111px;
    border-radius: 10px;
  }
  .banner img {
    border-radius: inherit;
  }
  .banner .overlay {
    border-radius: inherit;
  }
}

.card {
  position: relative;
  width: 340px;
  height: 340px;
  /* Dimensions pour les versions non mobiles */
  border-radius: 10px;
  overflow: hidden;
  margin: 25px;
}
.card .card-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0 20px 20px 20px;
  color: var(--white);
  z-index: 1;
}
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), color-stop(60%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 60%);
  border-radius: 10px;
  z-index: 0;
}
@media screen and (max-width: 376px) {
  .card {
    width: 335px;
    height: 255px;
    margin: 10px;
  }
}

.collapse {
  margin-bottom: 25px;
}
@media screen and (min-width: 375px) {
  .collapse {
    width: 90%;
  }
}
@media screen and (max-width: 376px) {
  .collapse {
    width: 100%;
    margin-bottom: 20px;
  }
}
.collapse-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: var(--main);
  height: 52px;
  padding: 0 15px;
}
@media screen and (max-width: 376px) {
  .collapse-header {
    height: 30px;
  }
}
.collapse-header h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
}
@media screen and (max-width: 376px) {
  .collapse-header h2 {
    font-size: 0.75rem;
  }
}
.collapse-header .chevron {
  width: 24px;
  fill: var(--white);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}
@media screen and (max-width: 376px) {
  .collapse-header .chevron {
    width: 16px;
  }
}
.collapse-header .chevron.open {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.collapse-content {
  font-weight: 400;
  font-size: 1.125rem;
  background-color: var(--grey);
  padding: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}
@media screen and (max-width: 376px) {
  .collapse-content p {
    font-size: 0.875rem;
  }
}
.collapse-content.open {
  display: block;
}

.footer {
  width: 100%;
  margin: 0 auto;
  background-color: black;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  padding-bottom: 20px;
}

.logo-footer {
  height: 40px;
  margin-bottom: 30px;
}

@media screen and (max-width: 376px) {
  .footer {
    padding-top: 50px;
  }
  .footer p {
    font-size: 0.75rem;
  }
}
.header {
  max-width: 1240px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}
@media screen and (min-width: 375px) {
  .header {
    width: 90%;
  }
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-header {
  height: 68px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
.nav-links li {
  margin-right: 50px;
}
.nav-links li:last-child {
  margin-right: 0;
}
.nav-links a {
  font-weight: 500;
  font-size: 1.5rem;
  color: black;
}
.nav-links a.active {
  text-decoration: underline;
}

@media screen and (max-width: 376px) {
  .logo-header {
    height: 47px;
  }
  .nav-links li {
    margin-right: 20px;
  }
  .nav-links a {
    text-transform: uppercase;
    font-size: 0.75rem;
  }
}
.slideshow {
  position: relative;
  max-width: 1240px;
  height: 415px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 25px;
}
@media screen and (min-width: 375px) {
  .slideshow {
    width: 90%;
  }
}

.slide {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}

.arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 8rem;
  color: var(--white);
  cursor: pointer;
  z-index: 10;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--white);
}

@media screen and (max-width: 376px) {
  .slideshow {
    height: 255px;
    border-radius: 20px;
  }
  .slide img {
    border-radius: 20px;
  }
  .arrow {
    font-size: 2.5rem;
  }
}
.tag {
  background-color: var(--main);
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.875rem;
  margin-right: 5px;
  margin-bottom: 5px;
}

.cards-container {
  max-width: 1240px;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--grey);
  border-radius: 25px;
  padding: 20px;
}
@media screen and (min-width: 375px) {
  .cards-container {
    width: 90%;
  }
}
@media screen and (max-width: 376px) {
  .cards-container {
    background-color: var(--white);
    border-radius: 0;
    margin: 0;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.collapse-container {
  max-width: 1023px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-top: 40px;
}
@media screen and (min-width: 375px) {
  .collapse-container {
    width: 90%;
  }
}
@media screen and (max-width: 376px) {
  .collapse-container {
    width: 335px;
  }
}

.location-content {
  height: 100%;
}

.location-details {
  max-width: 1240px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 375px) {
  .location-details {
    width: 90%;
  }
}
@media screen and (max-width: 376px) {
  .location-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.title-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

h1 {
  color: var(--main);
  font-size: 2.25rem;
  font-weight: 500;
}
@media screen and (max-width: 376px) {
  h1 {
    font-size: 1.125rem;
    padding-bottom: 10px;
  }
}

p {
  font-size: 1.125rem;
}
@media screen and (max-width: 376px) {
  p {
    font-size: 0.875rem;
    padding-bottom: 10px;
  }
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.host-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 376px) {
  .host-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}
.host span {
  margin-right: 10px;
  font-size: 1.125rem;
  color: var(--main);
}
@media screen and (max-width: 376px) {
  .host span {
    font-size: 0.75rem;
  }
}
.host img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
@media screen and (max-width: 376px) {
  .host img {
    width: 32px;
    height: 32px;
  }
}

.rating {
  font-size: 2.25rem;
  color: #e3e3e3;
  margin-top: 10px;
  margin-left: auto;
}
@media screen and (max-width: 376px) {
  .rating {
    font-size: 1.125rem;
    margin-left: 0px;
  }
}

.filled-star {
  color: var(--main);
}

.information {
  max-width: 1240px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}
@media screen and (min-width: 375px) {
  .information {
    width: 90%;
  }
}
@media screen and (max-width: 376px) {
  .information {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

@media screen and (max-width: 376px) {
  .tag {
    font-size: 0.625rem;
  }
  li {
    font-size: 0.875rem;
  }
}
.error-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding-bottom: 75px;
}
.error-content h1 {
  font-weight: 700;
  font-size: 18rem;
  color: var(--main);
}
@media screen and (max-width: 376px) {
  .error-content h1 {
    font-size: 6rem;
  }
}
.error-content p {
  font-weight: 500;
  font-size: 2.25rem;
  color: var(--main);
  padding-top: 80px;
  padding-bottom: 100px;
}
@media screen and (max-width: 376px) {
  .error-content p {
    font-size: 1.125rem;
    text-align: center;
  }
}

.error-link {
  font-weight: 500;
  font-size: 1.125rem;
  text-decoration-line: underline;
  color: black;
}
@media screen and (max-width: 376px) {
  .error-link {
    font-size: 0.875rem;
  }
}